<div class="card flex flex-column align-items-center justify-content-center">
  <!-- Header Title -->
  <p style="text-align: center; color: #3b82f6; font-weight: bold">
    Measurements
  </p>

  <!-- Scrollable container for measurement items in listbox -->
  <div class="card flex justify-content-center">
    <p-listbox
      [options]="measDates"
      [(ngModel)]="selectedDate"
      optionLabel="measDate"
      [style]="{ width: '20rem', height: '30rem' }"
      [listStyle]="{ 'max-height': '300px' }"
    >
      <ng-template let-date pTemplate="item">
        <!-- Use flexbox to make date and time appear on the same row -->
        <div
          class="date-time-item d-flex justify-content-between align-items-center"
          style="width: 100%"
        >
          <!-- Date on the left -->
          <p class="mb-0 text-smaller" style="flex: 1">
            {{ date.measDate | date : "dd/MM/yyyy" }}
          </p>

          <!-- Time on the right -->
          <span
            class="mb-0 text-smallertime"
            style="flex: 1; text-align: right"
          >
            {{ date.measDate | date : "shortTime" }}
          </span>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</div>
